<robot name="unnamed" version="1.0">
  <joint name="turntable_link_joint_dup" type="revolute">
    <limit lower="-3.00000" upper="3.00000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="0.00000 0.00000 0.00443" xyz="-0.45306 -0.00297 0.45118"/>
    <parent link="basecase1_link"/>
    <child link="turntable_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="turntable_link_joint" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="0.00000 0.00000 3.13716" xyz="-0.29849 -0.00704 0.45105"/>
    <parent link="turntable_link"/>
    <child link="Elbow_1_link"/>
    <axis xyz="0.00000 1.00000 0.00000"/>
  </joint>
  <joint name="Gripper+finger+Geared_right_link" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 0.00000 -0.00000" xyz="0.30158 -0.00038 -0.07414"/>
    <parent link="Gripper+Rod+Geared_right_link"/>
    <child link="Gripper+finger+Geared_right_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="turntable_link_joint_dup_1" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="1.57078 1.56581 1.57078" xyz="0.47192 -0.01837 1.94238"/>
    <parent link="Elbow_1_link"/>
    <child link="Elbow_2_link"/>
    <axis xyz="0.00000 1.00000 0.00000"/>
  </joint>
  <joint name="turntable_link_joint_dup_2" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="0.00167 0.01634 0.01070" xyz="-0.00145 -0.00782 1.39796"/>
    <parent link="Elbow_2_link"/>
    <child link="Wrist_pitch._link"/>
    <axis xyz="0.00000 1.00000 0.00000"/>
  </joint>
  <joint name="turntable_link_joint_dup_3" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="3.05545 1.55437 -0.10181" xyz="-0.01615 0.00642 0.40411"/>
    <parent link="Wrist_pitch._link"/>
    <child link="gripper_base_link"/>
    <axis xyz="-1.00000 0.00000 0.00000"/>
  </joint>
  <joint name="left_parallel_link_joint" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 -0.00000 0.53339" xyz="-0.51914 -0.23759 0.09017"/>
    <parent link="gripper_base_link"/>
    <child link="left_parallel_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="right_parallel_link_joint" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 0.00000 2.74887" xyz="-0.51914 0.24594 0.09017"/>
    <parent link="gripper_base_link"/>
    <child link="right_parallel_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="turntable_link_joint_dup_4" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 -0.00000 0.53278" xyz="-0.66831 -0.07284 0.09054"/>
    <parent link="gripper_base_link"/>
    <child link="Gripper+Rod+Geared_left_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="Gripper+finger+Geared_left_link" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="0.00000 -0.00000 -0.00000" xyz="-0.30120 0.00058 -0.05526"/>
    <parent link="Gripper+Rod+Geared_left_link"/>
    <child link="Gripper+finger+Geared_left_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="turntable_link_joint_dup_5" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 0.00000 2.75458" xyz="-0.66831 0.08119 0.09054"/>
    <parent link="gripper_base_link"/>
    <child link="Gripper+Rod+Geared_right_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <link name="basecase1_link">
    <visual name="basecase1">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00000 -0.00000 0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/part_3_obj3.stl" scale="0.00100 0.00100 0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="turntable_link">
    <visual name="TrunTable">
      <material name="None"/>
      <origin rpy="-1.04042 -1.54565 -0.52117" xyz="0.00000 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/part_44_obj44.stl" scale="0.00100 0.00100 0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="Gripper+Rod+Geared_right_link">
    <visual name="Gripper+Rod+Geared_right">
      <material name="None"/>
      <origin rpy="-0.00000 0.00000 -0.00000" xyz="0.00000 -0.00000 -0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.001.stl" scale="0.00100 -0.00100 -0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="Gripper+finger+Geared_right_link">
    <visual name="Gripper+finger+Geared_right">
      <material name="None"/>
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.002.stl" scale="0.00100 -0.00100 -0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="Elbow_1_link">
    <visual name="Elbow 1">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/part_7_obj7.stl" scale="0.00100 0.00100 0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="Elbow_2_link">
    <visual name="Elbow 2">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/part_9_obj9.stl" scale="0.00100 0.00100 0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="Wrist_pitch._link">
    <visual name="Wrist_pitch.">
      <material name="None"/>
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/Robot_Arm_Wrist.stl" scale="0.00100 0.00100 0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="gripper_base_link">
    <visual name="gripper_base">
      <material name="None"/>
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/mg996r-v17.005.stl" scale="0.00100 0.00100 -0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="left_parallel_link">
    <visual name="left_parallel">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod.001.stl" scale="-0.00100 -0.00100 -0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="right_parallel_link">
    <visual name="right_parallel">
      <material name="None"/>
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod.002.stl" scale="0.00100 -0.00100 -0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="Gripper+Rod+Geared_left_link">
    <visual name="Gripper+Rod+Geared_left">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00000 0.00000 -0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.stl" scale="-0.00100 -0.00100 -0.00100"/>
      </geometry>
    </visual>
  </link>
  <link name="Gripper+finger+Geared_left_link">
    <visual name="Gripper+finger+Geared_left">
      <material name="None"/>
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="file:///home/sabo/Documents/learn_/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.003.stl" scale="-0.00100 -0.00100 -0.00100"/>
      </geometry>
    </visual>
  </link>
</robot>