<?xml version='1.0' encoding='utf-8'?>
<robot name="unnamed" version="1.0">
  <material name="None">
    <color rgba="0.6 0.6 0.6 1.0" />
    </material>
  <link name="world" />
  <joint name="fixed_base" type="fixed">
    <parent link="world" />
    <child link="basecase1_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <joint name="turntable_link_joint_dup" type="revolute">
    <limit lower="-3.00000" upper="3.00000" effort="30.0" velocity="2.0" />
    <origin rpy="0.00000 0.00000 0.00443" xyz="-0.045306 -0.000297 0.045118" />
    <parent link="basecase1_link" />
    <child link="turntable_link" />
    <axis xyz="0.00000 0.00000 1.00000" />
    </joint>
  <joint name="turntable_link_joint" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="30.0" velocity="2.0" />
    <origin rpy="0.00000 0.00000 3.13716" xyz="-0.029849 -0.000704 0.045105" />
    <parent link="turntable_link" />
    <child link="Elbow_1_link" />
    <axis xyz="0.00000 1.00000 0.00000" />
    </joint>
  <joint name="Gripper+finger+Geared_right_joint" type="revolute">
    <origin rpy="-0.00000 0.00000 -0.00000" xyz="0.030158 -0.000038 -0.007414" />
    <parent link="Gripper+Rod+Geared_right_link" />
    <child link="Gripper+finger+Geared_right_link" />
    <limit lower="-1.57" upper="1.57" effort="30.0" velocity="2.0" />
    </joint>
  <joint name="turntable_link_joint_dup_1" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="30.0" velocity="2.0" />
    <origin rpy="1.57078 1.56581 1.57078" xyz="0.047192 -0.001837 0.194238" />
    <parent link="Elbow_1_link" />
    <child link="Elbow_2_link" />
    <axis xyz="0.00000 1.00000 0.00000" />
    </joint>
  <joint name="turntable_link_joint_dup_2" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="30.0" velocity="2.0" />
    <origin rpy="0.00167 0.01634 0.01070" xyz="-0.000145 -0.000782 0.139796" />
    <parent link="Elbow_2_link" />
    <child link="Wrist_pitch._link" />
    <axis xyz="0.00000 1.00000 0.00000" />
    </joint>
  <joint name="turntable_link_joint_dup_3" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="30.0" velocity="2.0" />
    <origin rpy="3.05545 1.55437 -0.10181" xyz="-0.001615 0.000642 0.040411" />
    <parent link="Wrist_pitch._link" />
    <child link="gripper_base_link" />
    <axis xyz="-1.00000 0.00000 0.00000" />
    </joint>
  <joint name="left_parallel_link_joint" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="30.0" velocity="2.0" />
    <origin rpy="-0.00000 -0.00000 0.53339" xyz="-0.051914 -0.023759 0.009017" />
    <parent link="gripper_base_link" />
    <child link="left_parallel_link" />
    <axis xyz="0.00000 0.00000 1.00000" />
    </joint>
  <joint name="right_parallel_link_joint" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="30.0" velocity="2.0" />
    <origin rpy="-0.00000 0.00000 2.74887" xyz="-0.051914 0.024594 0.009017" />
    <parent link="gripper_base_link" />
    <child link="right_parallel_link" />
    <axis xyz="0.00000 0.00000 1.00000" />
    </joint>
  <joint name="turntable_link_joint_dup_4" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="30.0" velocity="2.0" />
    <origin rpy="-0.00000 -0.00000 0.53278" xyz="-0.066831 -0.007284 0.009054" />
    <parent link="gripper_base_link" />
    <child link="Gripper+Rod+Geared_left_link" />
    <axis xyz="0.00000 0.00000 1.00000" />
    </joint>
  <joint name="Gripper+finger+Geared_left_joint" type="revolute">
    <origin rpy="0.00000 -0.00000 -0.00000" xyz="-0.030120 0.000058 -0.005526" />
    <parent link="Gripper+Rod+Geared_left_link" />
    <child link="Gripper+finger+Geared_left_link" />
    <limit lower="-1.57" upper="1.57" effort="30.0" velocity="2.0" />
    </joint>
  <joint name="turntable_link_joint_dup_5" type="revolute">
    <limit lower="-2.00000" upper="2.00000" effort="30.0" velocity="2.0" />
    <origin rpy="-0.00000 0.00000 2.75458" xyz="-0.066831 0.008119 0.009054" />
    <parent link="gripper_base_link" />
    <child link="Gripper+Rod+Geared_right_link" />
    <axis xyz="0.00000 0.00000 1.00000" />
    </joint>
  <link name="basecase1_link">
    <visual name="basecase1">
      <material name="None" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00000 -0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/part_3_obj3.stl" scale="0.00100 0.00100 0.00100" />
        </geometry>
      </visual>
    <collision name="basecase1_collision">
      <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00000 -0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/part_3_obj3.stl" scale="0.00100 0.00100 0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00000 -0.00000 0.00000" />
      <mass value="2.500" />
      <inertia ixx="0.004021" ixy="0.000000" ixz="0.000000" iyy="0.010207" iyz="0.000000" izz="0.012187" />
      </inertial>
    </link>
  <link name="turntable_link">
    <visual name="TrunTable">
      <material name="None" />
      <origin rpy="-1.04042 -1.54565 -0.52117" xyz="0.00000 0.00000 -0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/part_44_obj44.stl" scale="0.00100 0.00100 0.00100" />
        </geometry>
      </visual>
    <collision name="TrunTable_collision">
      <origin rpy="-1.04042 -1.54565 -0.52117" xyz="0.00000 0.00000 -0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/part_44_obj44.stl" scale="0.00100 0.00100 0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="-1.04042 -1.54565 -0.52117" xyz="0.00000 0.00000 -0.00000" />
      <mass value="1.200" />
      <inertia ixx="0.002993" ixy="0.000000" ixz="0.000000" iyy="0.003436" iyz="0.000000" izz="0.003329" />
      </inertial>
    </link>
  <link name="Gripper+Rod+Geared_right_link">
    <visual name="Gripper+Rod+Geared_right">
      <material name="None" />
      <origin rpy="-0.00000 0.00000 -0.00000" xyz="0.00000 -0.00000 -0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.001.stl" scale="0.00100 -0.00100 -0.00100" />
        </geometry>
      </visual>
    <collision name="Gripper+Rod+Geared_right_collision">
      <origin rpy="-0.00000 0.00000 -0.00000" xyz="0.00000 -0.00000 -0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.001.stl" scale="0.00100 -0.00100 -0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="-0.00000 0.00000 -0.00000" xyz="0.00000 -0.00000 -0.00000" />
      <mass value="0.100" />
      <inertia ixx="0.000100" ixy="0.000000" ixz="0.000000" iyy="0.000100" iyz="0.000000" izz="0.000100" />
      </inertial>
    </link>
  <link name="Gripper+finger+Geared_right_link">
    <visual name="Gripper+finger+Geared_right">
      <material name="None" />
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 -0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.002.stl" scale="0.00100 -0.00100 -0.00100" />
        </geometry>
      </visual>
    <collision name="Gripper+finger+Geared_right_collision">
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 -0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.002.stl" scale="0.00100 -0.00100 -0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 -0.00000" />
      <mass value="0.100" />
      <inertia ixx="0.000100" ixy="0.000000" ixz="0.000000" iyy="0.000100" iyz="0.000000" izz="0.000100" />
      </inertial>
    </link>
  <link name="Elbow_1_link">
    <visual name="Elbow 1">
      <material name="None" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/part_7_obj7.stl" scale="0.00100 0.00100 0.00100" />
        </geometry>
      </visual>
    <collision name="Elbow 1_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/part_7_obj7.stl" scale="0.00100 0.00100 0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000" />
      <mass value="1.000" />
      <inertia ixx="0.004946" ixy="0.000000" ixz="0.000000" iyy="0.005623" iyz="0.000000" izz="0.000827" />
      </inertial>
    </link>
  <link name="Elbow_2_link">
    <visual name="Elbow 2">
      <material name="None" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 0.00000 -0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/part_9_obj9.stl" scale="0.00100 0.00100 0.00100" />
        </geometry>
      </visual>
    <collision name="Elbow 2_collision">
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 0.00000 -0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/part_9_obj9.stl" scale="0.00100 0.00100 0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 0.00000 -0.00000" />
      <mass value="0.800" />
      <inertia ixx="0.002506" ixy="0.000000" ixz="0.000000" iyy="0.002095" iyz="0.000000" izz="0.000627" />
      </inertial>
    </link>
  <link name="Wrist_pitch._link">
    <visual name="Wrist_pitch.">
      <material name="None" />
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 -0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Robot_Arm_Wrist.stl" scale="0.00100 0.00100 0.00100" />
        </geometry>
      </visual>
    <collision name="Wrist_pitch._collision">
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 -0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Robot_Arm_Wrist.stl" scale="0.00100 0.00100 0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 -0.00000 0.00000" />
      <mass value="0.500" />
      <inertia ixx="0.000397" ixy="0.000000" ixz="0.000000" iyy="0.000193" iyz="0.000000" izz="0.000286" />
      </inertial>
    </link>
  <link name="gripper_base_link">
    <visual name="gripper_base">
      <material name="None" />
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00000 0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/mg996r-v17.005.stl" scale="0.00100 0.00100 -0.00100" />
        </geometry>
      </visual>
    <collision name="gripper_base_collision">
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00000 0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/mg996r-v17.005.stl" scale="0.00100 0.00100 -0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00000 0.00000 0.00000" />
      <mass value="0.400" />
      <inertia ixx="0.000100" ixy="0.000000" ixz="0.000000" iyy="0.000100" iyz="0.000000" izz="0.000100" />
      </inertial>
    </link>
  <link name="left_parallel_link">
    <visual name="left_parallel">
      <material name="None" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod.001.stl" scale="-0.00100 -0.00100 -0.00100" />
        </geometry>
      </visual>
    <collision name="left_parallel_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod.001.stl" scale="-0.00100 -0.00100 -0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 0.00000" />
      <mass value="0.100" />
      <inertia ixx="0.000100" ixy="0.000000" ixz="0.000000" iyy="0.000100" iyz="0.000000" izz="0.000100" />
      </inertial>
    </link>
  <link name="right_parallel_link">
    <visual name="right_parallel">
      <material name="None" />
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00000 -0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod.002.stl" scale="0.00100 -0.00100 -0.00100" />
        </geometry>
      </visual>
    <collision name="right_parallel_collision">
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00000 -0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod.002.stl" scale="0.00100 -0.00100 -0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00000 -0.00000 0.00000" />
      <mass value="0.100" />
      <inertia ixx="0.000100" ixy="0.000000" ixz="0.000000" iyy="0.000100" iyz="0.000000" izz="0.000100" />
      </inertial>
    </link>
  <link name="Gripper+Rod+Geared_left_link">
    <visual name="Gripper+Rod+Geared_left">
      <material name="None" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00000 0.00000 -0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.stl" scale="-0.00100 -0.00100 -0.00100" />
        </geometry>
      </visual>
    <collision name="Gripper+Rod+Geared_left_collision">
      <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00000 0.00000 -0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.stl" scale="-0.00100 -0.00100 -0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00000 0.00000 -0.00000" />
      <mass value="0.100" />
      <inertia ixx="0.000100" ixy="0.000000" ixz="0.000000" iyy="0.000100" iyz="0.000000" izz="0.000100" />
      </inertial>
    </link>
  <link name="Gripper+finger+Geared_left_link">
    <visual name="Gripper+finger+Geared_left">
      <material name="None" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.003.stl" scale="-0.00100 -0.00100 -0.00100" />
        </geometry>
      </visual>
    <collision name="Gripper+finger+Geared_left_collision">
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 0.00000 0.00000" />
      <geometry>
        <mesh filename="file:///home/chakradhar/Documents/Hardware/urdf/unnamed/meshes/stl/Gripper_Rod_Geared___1_.003.stl" scale="-0.00100 -0.00100 -0.00100" />
        </geometry>
      </collision>
    <inertial>
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 0.00000 0.00000" />
      <mass value="0.100" />
      <inertia ixx="0.000100" ixy="0.000000" ixz="0.000000" iyy="0.000100" iyz="0.000000" izz="0.000100" />
      </inertial>
    </link>
  </robot>
