<robot name="unnamed" version="1.0">
  <joint name="joint_l1_hip" type="revolute">
    <limit lower="-0.78500" upper="0.78500" effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 -0.00000 -0.00000" xyz="2.46389 2.58302 2.03634"/>
    <parent link="Internal-Frame-v121_link"/>
    <child link="L1-v117_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="joint_l3_foot" type="revolute">
    <limit lower="-0.78500" upper="1.04700" effort="0.00000" velocity="0.00000"/>
    <origin rpy="1.57080 0.00000 1.57080" xyz="-0.93384 3.68844 -1.95242"/>
    <parent link="L1-v117_link"/>
    <child link="L3-v117_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="joint_l2_hip" type="revolute">
    <limit lower="-0.78500" upper="0.78500" effort="0.00000" velocity="0.00000"/>
    <origin rpy="0.00000 -0.00000 3.14159" xyz="-2.39531 2.58330 2.03634"/>
    <parent link="Internal-Frame-v121_link"/>
    <child link="L2-v117_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="joint_l4_foot" type="revolute">
    <limit lower="-0.78500" upper="1.04700" effort="0.00000" velocity="0.00000"/>
    <origin rpy="1.55975 0.00000 1.57080" xyz="0.63398 -4.70180 -1.66469"/>
    <parent link="L2-v117_link"/>
    <child link="L4-v117_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="joint_r1_hip" type="revolute">
    <limit lower="-0.78500" upper="0.78500" effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 0.00000 0.00000" xyz="2.46494 -2.51056 2.03634"/>
    <parent link="Internal-Frame-v121_link"/>
    <child link="R1-v117_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="R3-v117_link_joint" type="revolute">
    <limit lower="-0.78500" upper="1.04700" effort="0.00000" velocity="0.00000"/>
    <origin rpy="1.55156 -0.00000 1.57080" xyz="-0.94144 -3.68561 -1.95306"/>
    <parent link="R1-v117_link"/>
    <child link="R3-v117_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="joint_r2_hip" type="revolute">
    <limit lower="-0.78500" upper="0.78500" effort="0.00000" velocity="0.00000"/>
    <origin rpy="-0.00000 -0.00000 3.14159" xyz="-2.40342 -2.49865 2.03634"/>
    <parent link="Internal-Frame-v121_link"/>
    <child link="R2-v117_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <joint name="joint_r4_foot" type="revolute">
    <limit lower="-0.78500" upper="1.04700" effort="0.00000" velocity="0.00000"/>
    <origin rpy="1.55156 0.00000 1.57080" xyz="-0.95498 3.67349 -1.95620"/>
    <parent link="R2-v117_link"/>
    <child link="R4-v117_link"/>
    <axis xyz="0.00000 0.00000 1.00000"/>
  </joint>
  <link name="Internal-Frame-v121_link"/>
  <link name="L1-v117_link"/>
  <link name="L3-v117_link"/>
  <link name="L2-v117_link"/>
  <link name="L4-v117_link"/>
  <link name="R1-v117_link"/>
  <link name="R3-v117_link"/>
  <link name="R2-v117_link"/>
  <link name="R4-v117_link"/>
</robot>